main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scene {
    height: 100%;
    width: 100%;
    flex: 1;
    min-height: 400px;
}

.welcome-text {
    text-align: center;
    color: white;
    margin: 10% 0 auto 0;
    font-size: 3rem;
    font-weight: 700;
}

button {
    margin-top: 3%;
    padding: 1rem;
    background-color: rgb(97, 28, 162);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

